<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>

    <style>


    </style>

</head>

<body class="signup-body">
    <div class="d-flex justify-content-center align-items-center">
        <div class="login-container">
            <h2>Admin Login</h2>
            <form method="POST">
                <label>Username/ Email</label>
                <input type="text" class="form-control mb-3" placeholder="Enter username">

                <label>Password</label>
                <input type="password" class="form-control mb-3" placeholder="Enter password">
                <button type="button" class="submit" onclick="location.href='admin_dashboard.html'">Sign In</button>
            </form>
        </div>
    </div>

    <div class="link-container">
        <a href="index.html" class="link2">Back to Main Page</a>
    </div>

</body>

</html>