<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Member Register</title>

    <style>


    </style>
</head>

<body class="signup-body">
    <div class="d-flex justify-content-center align-items-center">
        <div class="login-container">
            <h2>Member Login</h2>
            <form method="POST">
                <label>Username/ Email</label>
                <input type="text" class="form-control mb-3" placeholder="Enter username">

                <label>Password</label>
                <input type="password" class="form-control mb-3" placeholder="Enter password">
                <button type="button" class="submit" onclick="location.href='member_dashboard.html'">Sign In</button>
            </form>
            <p style="text-align: center;">No account? <a href="register.html">Register here</a>.</p>
        </div>
    </div>

    <div class="link-container">
        <a href="admin_login.html" class="link2">Admin Login</a>
    </div>

</body>

</html>