<!DOCTYPE html> <!-- This file is strictly for the HTLM and BOOTSTRAP for Page 2: Login Page, not including the Nav Bar and Footer --> 
<html lang="en"> <!-- This page was written by the team member: Aleksandra Lozyk (Ola)  -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ChronicCare</title>

    <!-- Bootstrap & CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
    <div class="text-center mt-3">
        <h1 class="purple-text" style="font-size: 3rem;">Login</h1>
    </div>
<body>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 45.5vh;">
        <div class="p-4 shadow rounded" style="background-color: white; max-width: 420px; width: 100%;">
            <form>
                <div class="mb-3 text-start">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>

                <div class="mb-4 text-start">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div>

                <div class="d-grid mb-3">
                    <button type="submit" class="register-btn">Login</button>
                </div>

                <p class="text-center mb-0">
                    No account?
                    <a href="page_3_RegisterPage.html" class="purple-link">Register here</a>
                </p>
            </form>
        </div>
    </div>

    </body>
</html>