<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Member Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-sm sticky-top navbar-bgcolor shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img class="logo" src="/static/event-title.png.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="page_4_DashboardPage.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="page_5_AppointmentsManagerPage.html">Appointments</a></li>
                <li class="nav-item"><a class="nav-link" href="page_7_CalendarViewPage.html">Calender</a></li>
                <li class="nav-item"><a class="nav-link" href="page_8_MedicalDocumentsManagerPage.html">Documents</a></li>
                <li class="nav-item"><a class="nav-link" href="page_11_UserProfileSettingsPage.html">Profile</a></li>
                <li class="nav-item d-flex align-items-center me-3">
                    <a class="nav-link" href="#"><i class="fa-regular fa-bell fs-5"></i></a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item d-flex align-items-center me-3">
                    <a class="nav-link" href="page_1_LandingPage.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container mt-5 member-timetable-page ">

    <h1 class="calender-text text-center">Your Calendar</h1>

    <div class="d-flex justify-content-center align-items-center gap-3 mt-3 mb-5">
        <h5 class="slightly-right-calender mb-0"><strong>View your Calendar with a</strong></h5>
        <select class="form-select form-select-calender">
            <option selected>Week View</option>
            <option value="1">Day</option>
            <option value="2">Week</option>
            <option value="3">Month</option>
        </select>
        <button class="btn btn-purple-calender">Display</button>
    </div>

    <div class="d-flex gap-3 mt-3 mb-5">
        <div class="week-slider d-flex align-items-center justify-content-center gap-3 p-3 shadow rounded">
            <button class="arrow-btn btn btn-outline-dark" id="prevWeek">
                &#8592; <!-- Left Arrow -->
            </button>
            <form class="d-flex flex-column -left mt-4 week">
                <div class="col-md-9 mb-2">
                    <input type="text" name="Date" value="24/03/25 - 27/06/25">
                </div>
            </form>

            <button class="arrow-btn btn btn-outline-dark" id="nextWeek">
                &#8594; <!-- Right Arrow -->
            </button>
        </div>
        <div class="button-group-bg d-inline-flex justify-content-end gap-3 p-3 rounded shadow-sm mt-4 calender-appointment">
            <button class="btn btn-Appointment">Appointment</button>
            <button class="btn btn-Tests">Tests/Scans</button>
            <button class="btn btn-Expirations">Expiration</button>
            <button class="btn btn-Missed">Missed</button>
        </div>


    </div>

    <div class="scrollable-timetable mb-5">
        <div class="table-responsive shadow-sm rounded">
            <table class="table table-bordered text-center mb-0">
                <thead class="table-outline-dark">
                <tr>
                    <th style="width: 7%"></th>
                    <th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th>
                </tr>
                </thead>
                <tbody>
                <tr class="rostercells"><td>09:00</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="rostercells"><td>10:00</td><td></td><td></td><td></td><td></td><td class="physiotherapy-cell">Physiotheraphy physic Wellness center</td></tr>
                <tr class="rostercells"><td>11:00</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="rostercells"><td>12:00</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="rostercells"><td>13:00</td><td class="occupation-cell">Occupation Therapy@ EasyHelp</td><td></td><td></td><td></td><td></td></tr>
                <tr class="rostercells"><td>14:00</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="rostercells"><td>15:00</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="rostercells"><td>16:00</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr class="rostercells"><td>17:00</td><td></td><td></td><td></td><td></td><td></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>

</div>

</body>
</html>
