{% extends 'base.html' %}
{% block title %}Appointment Manager{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="text-center mb-4">
    <h1 class="purple-text" style="font-size: 2.8rem;">Your
      Appointments
    </h1>
    <button class="btn btn-light shadow-sm mt-3 fw-bold px-4 py-2" style="font-size: 1.1rem;"><a
        href="/appointments/add_appointment" style="text-decoration: none; color: inherit;">+ Add
        Appointment</a></button>
  </div>

  <div class="d-flex justify-content-center align-items-center gap-2 mb-4">
    <label for="sortSelect" class="fw-semibold mb-0">Order your appointments by</label>

    <select id="sortSelect" class="form-select w-auto">
      <option value="date-asc">Date ↑</option>
      <option value="date-desc">Date ↓</option>
    </select>
    <button class="btn btn-purple-calender">Display</button>
  </div>

  <!-- Scrollable Table -->
  <div class="scrollable-timetable table-responsive mb-3">
    <table class="table align-middle table-borderless shadow rounded text-center">
      <thead class="table-light">
        <tr class="purple-text fw-bold">
          <th>Date</th>
          <th>Time</th>
          <th>Type</th>
          <th>Practitioner</th>
          <th>Location</th>
          <th>Notes</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-light mb-3 rounded">
          <td class="fw-bold">20/04/25</td>
          <td>10:00 AM</td>
          <td>General Practitioner</td>
          <td>Dr Jake Croll</td>
          <td>MediClinic – Nedlands</td>
          <td>Check bloods</td>
          <td><span class="badge bg-success">Upcoming</span></td>
          <td>
            <button class="btn btn-Appointment btn-sm me-1">Edit</button>
            <button class="btn btn-Missed btn-sm">Cancel</button>
          </td>
        </tr>
        <tr class="bg-light mb-3 rounded">
          <td class="fw-bold">23/04/25</td>
          <td>2:00 PM</td>
          <td>Pain Specialist</td>
          <td>Dr Jessica Adams</td>
          <td>Perth Hospital</td>
          <td>Follow up MRI</td>
          <td><span class="badge bg-success">Upcoming</span></td>
          <td>
            <button class="btn btn-Appointment btn-sm me-1">Edit</button>
            <button class="btn btn-Missed btn-sm">Cancel</button>
          </td>
        </tr>
        <tr class="bg-light mb-3 rounded">
          <td class="fw-bold">29/04/25</td>
          <td>9:00 AM</td>
          <td>Physiotherapist</td>
          <td>Dr Claire Willby</td>
          <td>Physio Wellness Centre</td>
          <td>Knee exercises</td>
          <td><span class="badge bg-success">Upcoming</span></td>
          <td>
            <button class="btn btn-Appointment btn-sm me-1">Edit</button>
            <button class="btn btn-Missed btn-sm">Cancel</button>
          </td>
        </tr>
        <tr class="bg-light mb-3 rounded">
          <td class="fw-bold">29/04/25</td>
          <td>4:00 PM</td>
          <td>Psychiatrist</td>
          <td>Dr Dan Dell</td>
          <td>St Charles Hospital</td>
          <td>Discuss increase</td>
          <td><span class="badge bg-success">Upcoming</span></td>
          <td>
            <button class="btn btn-Appointment btn-sm me-1">Edit</button>
            <button class="btn btn-Missed btn-sm">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}